<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/aboutUs/style.css">
    <title>DebuGamO</title>
</head>
<body>
    <div id="header" style="background-color:#00adbc;">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:inherit;">
            <a class="navbar-brand" href="/" style="color:white;">DebuGamO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                            <a class="nav-link" href="/" style="color:white;">首頁</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/aboutUs" style="color:white;">關於 <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        聯絡我們
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">錯誤回報</a>
                            <a class="dropdown-item" href="#">合作與支持</a>
                        </div>
                    </li> -->
                </ul>
            </div>   
        </nav>
    </div>
    <div id="aboutUsIntroduction" style="margin-top:30px;">
            <h1 class="display-4">關於我們</h1>
            <div class="introContent content-left" style="font-size:1.3em;line-height:2em;">
                <p>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDebuGamO是繼原先台大葉丙成教授PaGamO的核心概念，匯集不同題目而組成關卡，藉由完成任務需求、邏輯思考等方式，吸引學生學習，此外，老師和學生都可以彼此分享解法，也可以藉此訓練學生表達能力，讓學生們從遊戲中體驗學習。
                </p>
                <br>
                <p>
                    目前主要的遊戲是由台大的許佑群所開發，未來將會推出多款遊戲及劇情，同時也歡迎您的加入！
                </p>
            </div>
            <div class="introContent contentRight" style="float:right;">
                <!-- <img src="../../static/index/robot.happy.png" alt="" srcset="" width="24%"> -->
            </div>
    </div>
    <div class="intro">
        <div id="Title" style="padding: 0 15%;">
                <h1 class="display-4" style="">專案成員</h1>
        </div>
            <ul class='photoIntro'>
                <li class="photo">
                        <a id="img3" href=""><img class="pic" src="../../static/aboutUs/img4-1.JPG" alt="" width="220" height="400"></a>
                        <div class="container">
                            <h1>陳 長明</h1>
                            <p>Project Manager</p>
                            <div class="introduction">國立成功大學 工業資訊管理學系</div>
                        </div>
                    </li>
                <li class="photo">
                    <a id="img1" href="">
                        <img class="pic" src="../../static/aboutUs/友鈞.png" alt="" width="220" height="400">
                    </a>
                    <div class="container">
                        <h1>林 友鈞</h1>
                        <p>Full Stack Engineer</p>
                        <div class="introduction">國立成功大學 土木工程學系</div>
                    </div>
                </li>

                <li class="photo">
                    <a id="img2" href=""><img class="pic"  src="../../static/aboutUs/img2-2.jpg" alt="" width="220"  height="400"></a>
                    <div class="container">
                        <h1>何 群毅</h1>
                        <p>Full Stack Engineer</p>
                        <div class="introduction">國立東華大學 資訊管理學系</div>
                    </div>
                </li>
                
                <li class="photo">
                    <a id="img4" href=""><img class="pic" src="../../static/aboutUs/img3-1.JPG" alt="" width="220" height="400"></a>
                    <div class="container">
                        <h1>黃貫倫</h1>
                        <p>Web Designer</p>  
                        <div class="introduction">國立成功大學 生命科學系</div> 
                    </div>
                </li>
                
            </ul>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../../static/aboutUs/main.js"></script>
</html>