<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='style.js')}}"> -->
    <!-- <link rel="stylesheet" href="../../static/user/style.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/8.1.0/i18next.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-i18next/1.2.0/jquery-i18next.min.js" ></script>
    <link rel="stylesheet" href="{{url_for('static',filename='./user/style.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  <div class="header">
    <div id="left-side">
      <p id="title" data-i18n="header.title">Debugamo : 幫幫迪摩</p>
    </div>
    <div id="mid"></div>
    <div id="right-side">
      <a class="normal "href="/" data-i18n="header.home">首頁</a>
      <a class="normal" href="/user" data-i18n="header.mydemo">我的迪摩</a>
      <a class="normal"href="/" id="log-out" data-i18n="header.logout">登出</a>
      <div id="setting-dropdown-div">
        <button class="dropdown-btn" id="setting">
            <span data-i18n="header.setting.setting"></span>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="" class="dropdown-option" data-i18n="header.setting.gameSetting">遊戲設定</a>
          <!-- <a href="" class="dropdown-option">個人資料設定</a> -->
          <a href="" class="dropdown-option">選項2</a>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="letter">
      <div class="left-side">
        <div id="photo">
          <!-- photo -->
        </div>
        <div id="info">
          <p>ID : <span>Yu-Chun,Lin</span></p>
          <p>Level : <span>000000</span></p>
        </div>
        <div id="options">
          <div class="option">
            <button class="dropdown-btn" class="button-option">
              <span data-i18n="options.game.helpdemo"></span>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a href="https://debugamo.appspot.com/debugging" class="dropdown-option" data-i18n="options.game.practice">練習場</a>
              <a href="" class="dropdown-option"  data-i18n="options.game.solo">個人賽</a>
              <a href="" class="dropdown-option"  data-i18n="options.game.multiplayer">多人混戰</a>
              <a href="" class="dropdown-option" data-i18n="options.game.record">對戰紀錄</a>
            </div>
          </div>
          <div class="option">
              <button class="dropdown-btn" class="button-option" >
                <span data-i18n="options.community.story"></span>
                  <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                  <a href="" class="dropdown-option" data-i18n="options.community.friend">好友動態</a>
                  <a href="" class="dropdown-option" data-i18n="options.community.edit">個人資料</a>
                  <!-- <a href="" class="dropdown-option">c</a> -->
              </div>
          </div>
          <!-- <div class="option">
              <button class="dropdown-btn">button 3
                  <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                  <a href="" class="dropdown-option">a</a>
                  <a href="" class="dropdown-option">b</a>
                  <a href="" class="dropdown-option">c</a>
              </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="letter">
      <div id="edit">
        <div id="edit-title">
          <span style="font-size: 40px" data-i18n="edit.title.edit">Edit</span>
          <div style="border: 1px solid lightgrey"></div>
        </div>
        <div id="name-ID" class="item">
          <div id="name"> 
            <div style="display: inline">
              <label for="user-name" data-i18n="edit.nameid.name.name">Name : </label>

              <i class="fas fa-pen edit" id="name-edit" style="color:grey"></i>
            </div>
            <div id="Name-drop-down" class="edit-dropdown">
              <label for="edit-name" data-i18n="edit.nameid.name.name">Name : </label>
              <input type="text" id="edit-name"> <button id="name-button" data-i18n="edit.button">submit</button>
              
            </div>
          </div>
          <div id="ID">
            <div>
              <label for="edit-id" data-i18n="edit.nameid.id.gameid">gameID : </label>
              
              <i class="fas fa-pen edit" id="ID-edit" style="color:grey"></i>
            </div>
            <div id="ID-drop-down" class="edit-dropdown">
              <div style="width:100%" id="id-input">
                <label for="edit-id" data-i18n="edit.nameid.id.gameid">gameID : </label>
                <input type="text" id="edit-gameID"> <button id="id-button" data-i18n="edit.button">submit</button>
              </div>
              <!-- <small style="display:inline">adslfk;askljf;alskjf</small> -->
            </div>
          </div>
        </div>
        <div id="edit-email" class="item">
          <div>
            <label for="edit-email" data-i18n="edit.email.email">Email : </label>
            <!-- <span id="user-email" class="user-data">example@gmail.com</span> -->
            <i class="fas fa-pen edit" id="email-edit"style="color:grey"></i>
          </div>
          <div id="Email-drop-down" class="edit-dropdown" style="width:50%;">
            <div id="email-input-div" style="width:100%;">
              <label for="edit-email" data-i18n="edit.email.email">Email : </label>
              <input type="email" style="width:60%;" id="edit-email-input"> <button id="email-button" data-i18n="edit.button">Submit</button>
            </div>
          </div>
        </div>
        <div id="edit-password" class="item">
          <div>
            <label for="password" data-i18n="edit.password.password">Password :</label>
            <span id="password">********</span>
            <i class="fas fa-pen edit" style="color:grey"></i>
          </div>
          <div id="password-dropdown" class="edit-dropdown" style="display:none;width:90%;">
            <div >
              <label for="old-password" data-i18n="edit.password.old-password">Old Password</label>
              <input type="password" style="display:inline;" id="old-password">
            </div>
            <div id="password-confirm">
              <label for="new-password" data-i18n="edit.password.new-password">New Password</label>
              <input type="password" style="margin-top:5px;" id='newpassword'>
              <label for="comfirm" data-i18n="edit.password.confirm">Confirm</label>
              <input type="password" id='confirm'>
              <button id="password-button" data-i18n="edit.button">submit</button>
            </div>
          </div>
        </div>
        <div id="edit-birthday" class="item">
          <div>
            <label for="user-birthday" data-i18n="edit.birthday">Birthday : </label>
            <i class="fas fa-pen edit" id="birthday-edit"style="color:grey"></i>
          </div>
          <div id="Birthday-drop-down" class="edit-dropdown" style="width:50%;">
            <label for="edit-birthday">Birthday : </label>
            <select name="year" id="year" class="form-cotrol"></select>
            <select name="month" id="month"></select>
            <select name="date" id="date"></select>
            <button style="margin-left:20px;" id="birthday-button" data-i18n="edit.button">Submit</button>
          </div>
        </div>
        <div id="edit-class" class="item">
          <div>
            <label for="edit-class" data-i18n="edit.class">Class : </label>
            
            <i class="fas fa-pen edit" id="class-edit"style="color:grey"></i>
          </div>
          <div id="class-dropdown" class="edit-dropdown" style="width:30%;">
            <label for="edit-class" data-i18n="edit.class">Class : </label>
            <input type="text" style="width:38%" id="class-input">
            <button id="class-button" data-i18n="edit.button">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div id="copyright-div">
        
        <p id="copyright">
            <select name="lang" id="language-select" >
                <option selected>Choose other language...</option>
                <option value="en">English</option>
                <option value="zh">繁體中文</option>
            </select> 
          <a href="" data-i18n="footer.report">Report</a>
          <a href="" style="margin-right:10px;" data-i18n="footer.us">About Us</a>
          ©Debugamo
        </p>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/8.1.0/i18next.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-i18next/1.2.0/jquery-i18next.min.js" ></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
<script src="{{url_for('static',filename='./user/user.js')}}"></script>
<!-- <script src="../../static/user/user.js"></script> -->
</body>
</html>