html{
    height: 120%;
}
body a{
    text-decoration: none;
    color: white;
    outline: none;
}
body{
    height: 100%;
    margin: 0px;
    display: grid;
    grid-template-rows: 70px 76% auto;
}

.header{
    height: 100%;
    background-color: #00adbf;
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
}

#title{
    padding:10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login-side{
    padding: 5px;
    display: grid;
    grid-template-columns: 263.4px 275px auto;
}
#login-left{
    background-image: url('./login-left.png');
    background-repeat: no-repeat;
}
#login-right{
    background-image: url('./login-right.png');
    background-repeat: no-repeat;
}

#login-email{
    width: 180px;
    margin-left: 68px;
    margin-top: 6px;
}
#login-password{
    width : 163px;
    margin-left: 5px;
    margin-top: 6px;
}
#login-side div.form-group{
    margin-bottom: 0px;
    display: inline-block;
}

#normal-button{
    float:right;
    margin-top: 6px;
    margin-right: 10px;
    background: none;
    border: none;
    color: black;
}

#container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 1px;
}

.footer{
    height: 100%;
    background: #00adbc;
    display: grid;
    grid-template-columns: 6fr 3fr;
}

#copyright-div{
    width: auto;
    display: inline-block;
}