.frame{
    width: 100%;
    height: 87%;
    border: 1px solid lightgrey;
    margin: 35px 0px 5px 0px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.8);
}

#taskLeft,.frameleft{
    border-right: 1px solid lightgrey;
    width: 40%;
    text-align: center;
}

button{
    text-decoration: none;
    color: white;
}

.buttonLink{
    text-decoration: none;
    color: white;
}
.buttonLink:hover{
    text-decoration: none;
    color: white;
}

.nameTitle{
    /* color: white; */
    font-size: 2em;
}

.tasktype a{
    color: black;
    font-size: 2em;
    text-decoration: none;
}

#taskRight,.frameright{
    width: 55%;
    float: right;
    padding-top: 1.5em;
    padding-right: 1.5em;
}

.tasktype{
    /* height: 4em; */
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    transition: .3s ease;
}

.tasktype .taskTitle{
    height: 4em;
    width: 100%;
    transition: .3s ease;
    border-bottom: 1px solid lightgrey;
    padding-top: 0.5em;
}

.tasktype .taskTitle:hover{
    box-shadow:1px 5px 5px 1px;
}

ul{
    padding: 0px;
    list-style-type: none;
}

#joinTask li,#myTask li{
    border-bottom: 1px solid grey;
}

#joinTask li a, #myTask li a{
    font-size: 1.8em;
    font-family: Microsoft JhengHei;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

button a{
    color: black;
}

/* .taskTitle.active{
    box-shadow:1px 5px 5px 1px;
} */

.taskContent{
    display: inline-block;
    height: 100%;
}

ul#mainTasklist,.tasklist{
    margin: 5px;
}

/* .courseItem{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 3px;
} */

.row{
    padding: 10px;
}

.addCourseBtn{
    outline: none;
    cursor: pointer;
}

.addCourseBtn:active{
    outline: none;
}


.task-info-img{
    height: 200px;
    width: 80%;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 5px;
}

.taskImg{
    width: 60%;
    display: inline-block;
    margin-right: 10px;
    height: 80%;
}

.userInfo{
    display: inline-block;
    padding-top: 50px;
    padding-right: 50px;
    height: 80%;
    float: right;
}

.dropdownBar{
    text-align: center;
}

.up{
    text-align: center;
}

.members{
    border: 1px solid black;
    width: 80%;
    border-radius: 5px;
    height: auto;
}

.methods{
    height: 20px;
    padding: 5px;
    /* text-align: right; */
}

.member{
    /* display: inline; */
    height: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 30px;
}

.sorting a{
    /* display: inline; */
    margin-top: 5px;
}

.sorting{
    position: relative;
    width: 100px;
    background-color: aliceblue;
    text-align: center;
    height: 80px;
    z-index: 1;
    display: none;
}

.section{
    width: 100%;
    height: 20%;
}

.progressText{

}

.section.sec.hint{
    height: 100%;
}

.name{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border:1px solid lightgrey;
    text-align: center;
    /* background: #007bff; */
}

.taskTitle{
    margin-bottom: 0px;
    /* color: white; */
}

.taskTitle{
    line-height: 50px;
}

.bonusdiv{
    width: 100%;
}

.targetdiv{
    width: 100%;
}

.nameText{
    width: 100%;
    height: 50%;

    padding-top: 3em;
}