#addclass{

    width: 90%;
    padding: 5%;
    padding-top: 5%;
    box-sizing: border-box;

}

.item{
    width: 35%;
    padding: 10px;
    display: inline-block;
}

#addclass input,textarea{
    outline: none
}

#addclass #discription{
    width: 100%;
    padding: 10px;
}

#addclass button{
    outline: none;
    border-radius: 3px;
    width: 50px;
    margin:5px;
    cursor: pointer;
}

#addclass .classInfo{
    float: right;
    width: 40%;
    height: 80%;
    display: inline-block;
    /* color: grey; */
    padding: 10px
}
#addclass .classImg{
    width: 40%;
    height: 80%;
    display: inline-block;
}
#addclass .dropdownBar{
    height: 15%;
    text-align: center;
    cursor: pointer;
}

.levels{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid grey;
    border-radius: 3px;
}

.level{
    height: 40px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* box-shadow: 3px 3px 3px grey; */
    cursor: pointer;
}

.level:hover{
    transition: all .5s ease;
    /* box-shadow: 3px 3px 3px rgb(136, 134, 134); */
}


.up{
    text-align: center;
    cursor: pointer;
}

.class{
    margin:10px;
}