#addclass{

    width: 90%;
    padding: 5%;
    padding-top: 5%;
    box-sizing: border-box;

}

.item{
    width: 35%;
    padding: 10px;
    display: inline-block;
}

#addclass input,textarea{
    outline: none
}

#discription{
    width: 100%;
    padding: 10px;
}

button{
    outline: none;
    border-radius: 3px;
    width: 50px;
    /* margin:5px; */
    cursor: pointer;
}

.classInfo{
    float: right;
    width: 40%;
    height: 80%;
    display: inline-block;
    /* color: grey; */
    padding: 10px
}
.classImg{
    width: 40%;
    height: 80%;
    display: inline-block;
}
.dropdownBar{
    height: 15%;
    text-align: center;
    cursor: pointer;
}

.levels{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid grey;
    border-radius: 3px;
}

.level{
    height: 40px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* box-shadow: 3px 3px 3px grey; */
    cursor: pointer;
}

.level:hover{
    transition: all .5s ease;
    /* box-shadow: 3px 3px 3px rgb(136, 134, 134); */
}


.up{
    text-align: center;
    cursor: pointer;
}

.class{
    margin:10px;
}

/* new css */
#t-left-panel{
    box-shadow: rgba(0,0,0,0) 0 3px 10px, rgba(0,0,0,0.7) 0 3px 10px;
    padding-top: 30px;
    text-align: center;
    min-height: 800px;
    overflow-y: hidden;
    background-color: white;
}

/* html, body{
    height: 100%
} */
.coach-navbar .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    border: 0;
    border-radius: 0;
}