<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/login/style.css">
    <link rel="stylesheet" href="{{url_for('static',filename='./login/style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/8.1.0/i18next.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-i18next/1.2.0/jquery-i18next.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" ></script>
    <title>Login</title>
</head>
<body>
    <div class="header">
        <div id="title">
            <a href="/" style="color:white;outline: none;" data-i18n="header.title">Debugamo : 幫幫迪摩</a>
        </div>
        <div class="mid"></div>
            <form method="POST" action="/user" id="login-side">
                <div id="login-left">
                    <div class="form-group">
                        <input name="login-email" type="email" class="form-control" id="login-email" aria-describedby="emailHelp" data-i18n="[placeholder]header.login.email">
                    </div>
                </div>
                <div id="login-right">
                    <div class="form-group">
                        <input name="login-password" type="password" class="form-control" id="login-password" data-i18n="[placeholder]header.login.password">
                    </div>
                    <button id="normal-button" type="submit" class="btn btn-primary" data-i18n="header.login.button"></button>
                </div>
                <div id="fast-login">
                    <!-- fl -->
                </div>
            </form>
    </div>
    <div id="container">
        <div id="image">
            a
        </div>
        <div style="background-image:url('../../static/login/register/register.jpg');background-repeat: no-repeat;">
            <div id="register" style="width:400px">
                <div></div>
                <div id="name"class="type1" style="padding-top:9px;padding-right:25px;">
                    <label for="inputName" data-i18n="form.name.label">Name</label>
                    <input class="form-control" type="text" name="name" id="inputName" data-i18n="[placeholder]form.name.placeholder">
                </div>
                <div id="ID" class="type2">
                    <label for="inputID" data-i18n="form.ID.label">Game ID</label>
                    <input type="text" class="form-control" id="inputID" data-i18n="[placeholder]form.ID.placeholder" name="ID">
                </div>
                <div id="Email" class="type2" style="padding-right:22px;">
                    <label for="inputEmail" data-i18n="form.Email.label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" data-i18n="[placeholder]form.Email.placeholder" name="email">
                </div>
                <div id="password"class="type2" style="padding-right:21px;">
                    <label for="inputPassword" data-i18n="form.password.label" >Password </label>
                    <input type="password" class="form-control" id="inputPassword" data-i18n="[placeholder]form.password.placeholder" name="password">
                </div>
                <div id="password-again"class="type2" style="padding-right:21px;">
                    <label for="inputPasswordagain" data-i18n="form.passwordagain.label" style="font-size: 14px;width:90px;margin-top: 0px;">Password Again </label>
                    <input type="password" class="form-control" id="inputPasswordagain" data-i18n="[placeholder]form.passwordagain.placeholder"name="password-again" style="background-color:white;">
                </div>
                <div id="identity"class="type2" style="padding-right:20px;padding-top:7px;">
                    <label for="inputIdentity" data-i18n="form.identity.label" style="font-size: 16px;width:90px;margin-top: 0px;">Identity</label>
                    <!-- <input type="password" class="form-control" id="inputPasswordagain" data-i18n="[placeholder]form.passwordagain.placeholder"name="password-again" style="background-color:white;"> -->
                    <select class="custom-select"name="inputIdentity" id="inputIdentity">
                        <option value="none" data-i18n="form.identity.select.notice">Choose Your Identity</option>
                        <option value="student" data-i18n="form.identity.select.student">Student</option>
                        <option value="teacher" data-i18n="form.identity.select.teacher">Teacher</option>
                        <option value="parents" data-i18n="form.identity.select.parent">Parent</option>
                    </select>
                </div>
                <div class="type3" style="padding-right:21px;padding-top:6px;">
                    <label for="birthday" data-i18n="form.birthday">Birthday</label>
                    <select  id="inputDate" class="form-control" name="Date" style="margin-left:4px;">
                        <!-- <option selected>Choose...</option> -->
                    </select>
                    <select id="inputMonth" class="form-control" name='Month' style="margin-left:8px;">
                        <!-- <option selected>Choose...</option> -->
                    </select>
                    <select id="inputYear" class="form-control" name="Year" >
                        <!-- <option selected>Choose...</option> -->
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="mid"></div>
            <div class="right-side">
                <select name="lang" id="language-select">
                    <option selected>Choose other language...</option>
                    <option value="en">English</option>
                    <option value="zh">繁體中文</option>
                </select>
                <div id="copyright-div">
                    <p id="copyright"> 
                        <a href="" data-i18n="footer.report"></a>
                        <a href="" style="margin-right:10px;" data-i18n="footer.aboutus"></a>
                            ©Debugamo
                    </p>
                </div>
        </div>
    </div>
   
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='./login/index.js')}}"></script>
</body>
</html>