<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/8.1.0/i18next.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-i18next/1.2.0/jquery-i18next.min.js" ></script>
    <title>Document</title>
</head>
<body>
    <form action="" method="post" style="margin-left:5em">
        <div class="form-row" >
            <div class="form-group col-md-6" id="name">
                <label for="inputName" data-i18n="form.name.label"></label>
                <input type="text" class="form-control" id="inputName" data-i18n="[placeholder]form.name.placeholder" name="name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6" id="ID">
                <label for="inputID" data-i18n="form.ID.label"></label>
                <input type="text" class="form-control" id="inputID" data-i18n="[placeholder]form.ID.placeholder" name="ID">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6" id="Email">
                <label for="inputEmail" data-i18n="form.Email.label"></label>
                <input type="email" class="form-control" id="inputEmail" data-i18n="[placeholder]form.Email.placeholder" name="email">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6" id="password">
                <label for="inputPassword" data-i18n="form.password.label"></label>
                <input type="password" class="form-control" id="inputPassword" data-i18n="[placeholder]form.password.placeholder" name="password">
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6" id="password-again">
              <label for="inputPasswordagain" data-i18n="form.passwordagain.label">Input Password Again</label>
              <input type="password" class="form-control" id="inputPasswordagain" data-i18n="[placeholder]form.passwordagain.placeholder"name="password-again" style="background-color:white;">
          </div>
        </div>
        
        <div class="form-row">
                <div id="Year"class="form-group col-md-3">
                        <label for="inputYear" data-i18n="form.year.label"></label>
                        <select id="inputYear" class="form-control" name="Year">
                          <!-- <option selected>Choose...</option> -->
                        </select>
                      </div>
                <div class="form-group col-md-3" id="Month">
                  <label for="inputMonth" data-i18n="form.month.label"></label>
                  <select id="inputMonth" class="form-control" name='Month'>
                    <!-- <option selected>Choose...</option> -->
                  </select>
                </div>
                <div class="form-group col-md-2" id="Date">
                        <label for="inputDate" data-i18n="form.date.label"></label>
                        <select id="inputDate" class="form-control" name="Date">
                          <!-- <option selected>Choose...</option> -->
                        </select>
                      </div>
              </div>
              <div class="form-row">
                    <div class="form-group col-md-3" id="Grade">
                      <label for="inputGrade">Grade</label>
                        <select id="inputGrade" class="form-control" name="Grade">
                          <option id="elementary">1~6</option>
                          <option id="junior">7~9</option>
                          <option id="senior_high">10~12</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3" id="City">
                      <label for="inputCity">City</label>
                        <select id="inputCity" class="form-control" name="City">
                          <!-- <option selected>Choose...</option> -->
                          <!-- <option id="CityNotice">請先選擇年級</option> -->
                        </select>
                    </div>
                    <div class="form-group col-md-2" id="School">
                      <label for="inputSchool">School</label>
                      <select id="inputSchool" class="form-control" name="School">
                        <!-- <option selected>Choose...</option> -->
                        <!-- <option id="SchoolNotice">請先選擇年級及縣市</option> -->
                      </select>
                    </div>
                  </div>
        <button type="submit" class="btn btn-primary" data-i18n="form.button.register">Sign in</button>
      </form>

      <select name="lang" id="language-select" style="margin-left:5em;margin-top:1em">
        <option selected data-i18n="select-lang"></option>
        <option>繁體中文</option>
        <option>English</option>
      </select>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- <script src="{{url_for('static',filename='index.js')}}"></script> -->
<script src="../static/index.js"></script>
</body>
</html>