body{
    margin: 0%;
}

div.leftSide{
    text-align: center;
}

div.header{
    text-align: center;
    height: 60px;
}
a{
    color: black
}

.header .rightSide nav.nav a{
    color: white;
}
.header .rightSide nav.nav a.dropdown-item{
    color: black
}

#login-summit{
    margin: auto;
}

form#login-form.form-inline{
    margin-top: 10px;
}