body{
    margin: 0%;
}

div.header{
    text-align: center;
}
a{
    color: black
}

.header .rightSide nav.nav a{
    color: white;
}
.header .rightSide nav.nav a.dropdown-item{
    color: black
}

.header .leftSide{
    text-align: left;
}