html{
    height: 120%;
    /* overflow: scroll; */
}
a{
    color: white;
    text-decoration: none;
}
body{
    height: 100%;
    margin: 0px;
    display: grid;
    overflow: scroll;
    grid-template-rows: 8% 76% auto;
}
#main-img{
    height: 100%;
    background-color: white;
    /* overflow: hidden; */
}
.footer{
    height: 100%;
    background: #00adbc;
    display: grid;
    grid-template-columns: 6fr 2fr;
}

#copyright-div{
    width: auto;
    display: inline-block;
}